<a href="https://colab.research.google.com/github/JetiAprilia9/IPSD-Assignment/blob/main/Modul_2_IPSD_Unguided.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv ('/content/Movie_classification - Movie_classification.csv')
#Untuk no.1 Unguided yaitu load data csv dan data yang digunakan adalah Movie_classification

In [10]:
#Untuk no.2 diminta untuk mengecek nilai duplikat dari data yang telah di load, untuk kodenya sebagai berikut:
#Menggunakan df.duplicated() dan diperoleh bahwa 0 nilai duplikat
df.duplicated().sum()

0

In [12]:
#Untuk membuat null values presentase maka digunakan missing_values dan dibuat presentase maka ditambahkan missing_percentage
#Sehingga di dapat hasil sebagai berikut
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100

In [26]:
df = df.dropna()

In [27]:
df_drop_cols = df.dropna(axis=1)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 494 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    494 non-null    object
 1   Production expense   494 non-null    float64
 2   Multiplex coverage   494 non-null    float64
 3   Budget               494 non-null    object
 4   Movie_length         494 non-null    float64
 5   Lead_ Actor_Rating   494 non-null    float64
 6   Lead_Actress_rating  494 non-null    float64
 7   Director_rating      494 non-null    float64
 8   Producer_rating      494 non-null    float64
 9   Critic_rating        494 non-null    float64
 10  Trailer_views        494 non-null    int64
 11  3D_available         494 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      494 non-null    float64
 14  Genre                494 non-null    object
 15  Avg_age_actors       494 non-null    int64
 16  Num_multiplex        494 non-null    int64
 17  Collection           494 non-null    int64
 18  Start_Tech_Oscar     494 non-null    int64
dtypes: float64(10), int64(5), object(4)
memory usage: 77.2+ KB

In [31]:
# Assuming your data is in a CSV file named 'your_data.csv'
import pandas as pd

# Load the data into a DataFrame named 'data'
data = pd.read_csv('/content/Movie_classification - Movie_classification.csv')

# Now proceed with the imputation
data_mean_impute = data.copy()
data_mean_impute['Time_taken'].fillna(data_mean_impute['Time_taken'].mean(), inplace=True)

<ipython-input-31-367749ed52b7>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_mean_impute['Time_taken'].fillna(data_mean_impute['Time_taken'].mean(), inplace=True)

In [33]:
# Assuming your data is in a CSV file named 'your_data.csv'
import pandas as pd

# Load the data into a DataFrame named 'data'
data = pd.read_csv('/content/Movie_classification - Movie_classification.csv')

# Now proceed with the imputation
data_median_impute = data.copy()
data_median_impute['Time_taken'].fillna(data_median_impute['Time_taken'].median(), inplace=True)

<ipython-input-33-b75250b5651e>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_median_impute['Time_taken'].fillna(data_median_impute['Time_taken'].median(), inplace=True)

In [34]:
# Assuming your data is in a CSV file named 'your_data.csv'
import pandas as pd

# Load the data into a DataFrame named 'data'
data = pd.read_csv('/content/Movie_classification - Movie_classification.csv')

# Now proceed with the imputation
data_mode_impute = data.copy()
data_mode_impute['Time_taken'].fillna(data_mode_impute['Time_taken'].mode(), inplace=True)

<ipython-input-34-acbc37ec7052>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_mode_impute['Time_taken'].fillna(data_mode_impute['Time_taken'].mode(), inplace=True)

In [35]:
df.to_excel('Movie_classification_clean.xlsx', index=False)

In [36]:
df.to_csv('Movie_classification_clean.csv', index=False)